@import "tailwindcss";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #e2e8f0; /* slate-200 */
}

@theme {
  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
